/* 各控件的窄滚动条。 */

/* 目录树滚动条。 */
.toc-tree > .virtual-flow > .scroll-bar:vertical,
.content-editor .scroll-bar:vertical,
.resource-table > .virtual-flow > .scroll-bar:vertical {
    -fx-min-width: 7px;
    -fx-pref-width: 7px;
    -fx-max-width: 7px;
}

.toc-tree > .virtual-flow > .scroll-bar:horizontal,
.content-editor .scroll-bar:horizontal,
.resource-table > .virtual-flow > .scroll-bar:horizontal {
    -fx-min-height: 7px;
    -fx-pref-height: 7px;
    -fx-max-height: 7px;
}

.toc-tree > .virtual-flow > .scroll-bar > .increment-button,
.toc-tree > .virtual-flow > .scroll-bar > .decrement-button,
.content-editor .scroll-bar > .increment-button,
.content-editor .scroll-bar > .decrement-button,
.resource-table > .virtual-flow > .scroll-bar > .increment-button,
.resource-table > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.toc-tree > .virtual-flow > .scroll-bar:vertical > .increment-button,
.toc-tree > .virtual-flow > .scroll-bar:vertical > .decrement-button,
.content-editor .scroll-bar:vertical > .increment-button,
.content-editor .scroll-bar:vertical > .decrement-button,
.resource-table > .virtual-flow > .scroll-bar:vertical > .increment-button,
.resource-table > .virtual-flow > .scroll-bar:vertical > .decrement-button {
    -fx-min-height: 6px;
    -fx-pref-height: 6px;
    -fx-max-height: 6px;
}

.toc-tree > .virtual-flow > .scroll-bar:horizontal > .increment-button,
.toc-tree > .virtual-flow > .scroll-bar:horizontal > .decrement-button,
.content-editor .scroll-bar:horizontal > .increment-button,
.content-editor .scroll-bar:horizontal > .decrement-button,
.resource-table > .virtual-flow > .scroll-bar:horizontal > .increment-button,
.resource-table > .virtual-flow > .scroll-bar:horizontal > .decrement-button {
    -fx-min-width: 6px;
    -fx-pref-width: 6px;
    -fx-max-width: 6px;
}

.toc-tree > .virtual-flow > .scroll-bar > .increment-button > .increment-arrow,
.toc-tree > .virtual-flow > .scroll-bar > .decrement-button > .decrement-arrow,
.content-editor .scroll-bar > .increment-button > .increment-arrow,
.content-editor .scroll-bar > .decrement-button > .decrement-arrow,
.resource-table > .virtual-flow > .scroll-bar > .increment-button > .increment-arrow,
.resource-table > .virtual-flow > .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-opacity: 0;
}

.toc-tree > .virtual-flow > .scroll-bar:vertical > .thumb,
.content-editor .scroll-bar:vertical > .thumb,
.resource-table > .virtual-flow > .scroll-bar:vertical > .thumb {
    -fx-background-color: -epubra-scrollbar-thumb;
    -fx-background-insets: 0 1px 0 1px;
    -fx-background-radius: 2px;
}

.toc-tree > .virtual-flow > .scroll-bar:horizontal > .thumb,
.content-editor .scroll-bar:horizontal > .thumb,
.resource-table > .virtual-flow > .scroll-bar:horizontal > .thumb {
    -fx-background-color: -epubra-scrollbar-thumb;
    -fx-background-insets: 1px 0 1px 0;
    -fx-background-radius: 2px;
}
